<h1>wassup lil bch its me doing some coding and stuff </h1>

<p> idk man idk idk idk id k uh uh uhuhuh</p>

<h2>My Skill Stats</h2>
<ul>
  <% @skills.each do |skill| %>
    <li><%= skill %></li>
    <% end %>
</ul>

<h2>The Things that Make Me Cool</h2>
<ul>
  <% @interests.each do |interest| %>
    <li><%= interest %></li>
    <%end %>
    
</ul>
